<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="inc\js-array.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="lib\_Framework\cipher.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="lib\_Framework\html.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="46" severity="error" message="Argument $ext is missing from the Docblock of meta_type" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="62" severity="error" message="Argument $rule is missing from the Docblock of parse_id_type" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="102" severity="error" message="Argument $email is missing from the Docblock of parse_mailto_addresses" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="130" severity="error" message="Argument $href is missing from the Docblock of anchor" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="158" severity="error" message="Argument $content is missing from the Docblock of div" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="168" severity="error" message="Argument $file is missing from the Docblock of favicon" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="189" severity="error" message="Argument $href is missing from the Docblock of link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="215" severity="error" message="Argument $mailto is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="268" severity="error" message="Argument $name is missing from the Docblock of meta" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="298" severity="error" message="Argument $src is missing from the Docblock of script" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="321" severity="error" message="Argument $content is missing from the Docblock of tag" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="lib\_Framework\tests\template.test.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="23" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="21" severity="error" message="No summary for property $template" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\tests\validation.test.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="70" severity="error" message="Argument $email is missing from the Docblock of test_email_format_method_with_illegal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="114" severity="error" message="Argument $email is missing from the Docblock of test_email_format_method_with_legal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="21" severity="error" message="No summary for property $validation" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\bootstrap.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="36" severity="error" message="Argument $content is missing from the Docblock of container" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="60" severity="error" message="Argument $content is missing from the Docblock of row" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="74" severity="error" message="Argument $amount is missing from the Docblock of column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="74" severity="error" message="Argument $alt is missing from the Docblock of column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="101" severity="error" message="Argument $type is missing from the Docblock of panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="143" severity="error" message="Argument $options is missing from the Docblock of viewport" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="lib\_Framework\template.interface.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="Argument $key is missing from the Docblock of set" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="20" severity="error" message="Argument $value is missing from the Docblock of set" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="20" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="21" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="22" severity="error" message="Argument $templates is missing from the Docblock of merge" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="22" severity="error" message="Argument $separator is missing from the Docblock of merge" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="22" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="lib\_Framework\collection.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="44" severity="error" message="Argument $obj is missing from the Docblock of set" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="67" severity="error" message="Argument $key is missing from the Docblock of del" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="84" severity="error" message="Argument $key is missing from the Docblock of get" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="124" severity="error" message="Argument $key is missing from the Docblock of key_exists" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="lib\_Framework\session-manager.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="29" severity="error" message="Argument $session_name is missing from the Docblock of sec_session_start" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="54" severity="error" message="Argument $inactivity is missing from the Docblock of session_timeout" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="inc\init.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="lib\_Framework\template.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="56" severity="error" message="Argument $file is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="69" severity="error" message="Argument $key is missing from the Docblock of set" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="107" severity="error" message="Argument $templates is missing from the Docblock of merge" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="inc\controller.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="inc\functions.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="50" severity="error" message="Argument $id is missing from the Docblock of login" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="99" severity="error" message="Argument $emp_id is missing from the Docblock of checkbrute" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="lib\_Framework\tests\file.test.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="140" severity="error" message="Argument $filename is missing from the Docblock of test_write_method_with_legal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="140" severity="error" message="Argument $content is missing from the Docblock of test_write_method_with_legal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="140" severity="error" message="Argument $type is missing from the Docblock of test_write_method_with_legal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="168" severity="error" message="Argument $filename is missing from the Docblock of test_write_method_with_illegal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="168" severity="error" message="Argument $content is missing from the Docblock of test_write_method_with_illegal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="168" severity="error" message="Argument $type is missing from the Docblock of test_write_method_with_illegal_values" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="21" severity="error" message="No summary for property $file" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\tests\html.test.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="99" severity="error" message="Argument $tag is missing from the Docblock of test_anchor_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="99" severity="error" message="Argument $aux is missing from the Docblock of test_anchor_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="99" severity="error" message="Argument $expected is missing from the Docblock of test_anchor_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="126" severity="error" message="Argument $file is missing from the Docblock of test_favicon" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="126" severity="error" message="Argument $expected is missing from the Docblock of test_favicon" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="164" severity="error" message="Argument $href is missing from the Docblock of test_link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="164" severity="error" message="Argument $rel is missing from the Docblock of test_link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="164" severity="error" message="Argument $media is missing from the Docblock of test_link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="164" severity="error" message="Argument $download is missing from the Docblock of test_link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="164" severity="error" message="Argument $expected is missing from the Docblock of test_link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="319" severity="error" message="Argument $mailto is missing from the Docblock of test_mailto_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="319" severity="error" message="Argument $expected is missing from the Docblock of test_mailto_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="384" severity="error" message="Argument $name is missing from the Docblock of test_meta_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="384" severity="error" message="Argument $expected is missing from the Docblock of test_meta_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="435" severity="error" message="Argument $src is missing from the Docblock of test_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="435" severity="error" message="Argument $type is missing from the Docblock of test_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="435" severity="error" message="Argument $deter is missing from the Docblock of test_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="435" severity="error" message="Argument $charset is missing from the Docblock of test_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="435" severity="error" message="Argument $expected is missing from the Docblock of test_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="1004" severity="error" message="Argument $content is missing from the Docblock of test_tag_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="1004" severity="error" message="Argument $tag is missing from the Docblock of test_tag_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="1004" severity="error" message="Argument $expected is missing from the Docblock of test_tag_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="21" severity="error" message="No summary for property $template" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="22" severity="error" message="No summary for property $fav_dir" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\file.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="37" severity="error" message="Argument $file is missing from the Docblock of find_file" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="77" severity="error" message="Argument $file is missing from the Docblock of download" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="100" severity="error" message="Argument $file is missing from the Docblock of read" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="117" severity="error" message="Argument $file is missing from the Docblock of write" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="lib\_Framework\error.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="57" severity="error" message="Argument $msg is missing from the Docblock of error" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="inc\psl-config.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
  </file>
  <file name="lib\_Framework\log.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="27" severity="error" message="Argument $msg is missing from the Docblock of log" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="inc\debug\login-debug.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="lib\_Framework\sql.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="46" severity="error" message="Argument $filename is missing from the Docblock of cxn_result" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="70" severity="error" message="Argument $filename is missing from the Docblock of qry_result" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="119" severity="error" message="Argument $table is missing from the Docblock of select" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="167" severity="error" message="Argument $table is missing from the Docblock of insert" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="209" severity="error" message="Argument $table is missing from the Docblock of update" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="258" severity="error" message="Argument $table is missing from the Docblock of delete" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="302" severity="error" message="Argument $inArray is missing from the Docblock of verifyRequiredParams" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="329" severity="error" message="Argument $statement is missing from the Docblock of query" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="No summary for property $user" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="32" severity="error" message="No summary for property $pass" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="33" severity="error" message="No summary for property $db" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="35" severity="error" message="No summary for property $cxn" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="36" severity="error" message="No summary for property $File" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\tests\preload.pass.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="20" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="32" severity="error" message="Argument $object is missing from the Docblock of invokeMethod" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="32" severity="error" message="The type hint of the argument is incorrect for the type definition of the @param tag with argument $parameters in invokeMethod()" source="phpDocumentor.file.PPC:ERR-50016"/>
    <error line="81" severity="error" message="Argument $file is missing from the Docblock of test_set_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="81" severity="error" message="Argument $expected is missing from the Docblock of test_set_script_method" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="119" severity="error" message="Argument $file is missing from the Docblock of test_illegally_set_script" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="21" severity="error" message="No summary for property $template" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\html.interface.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="28" severity="error" message="Argument $href is missing from the Docblock of anchor" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="28" severity="error" message="Argument $content is missing from the Docblock of anchor" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="28" severity="error" message="Argument $title is missing from the Docblock of anchor" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="28" severity="error" message="Argument $accy is missing from the Docblock of anchor" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="28" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="29" severity="error" message="Argument $data is missing from the Docblock of favicon" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="29" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="30" severity="error" message="Argument $href is missing from the Docblock of link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="30" severity="error" message="Argument $rel is missing from the Docblock of link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="30" severity="error" message="Argument $media is missing from the Docblock of link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="30" severity="error" message="Argument $download is missing from the Docblock of link" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="30" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="31" severity="error" message="Argument $mailto is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="Argument $cc is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="Argument $bcc is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="Argument $sub is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="Argument $body is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="Argument $content is missing from the Docblock of mailto" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="31" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="32" severity="error" message="Argument $name is missing from the Docblock of meta" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="32" severity="error" message="Argument $content is missing from the Docblock of meta" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="32" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="33" severity="error" message="Argument $src is missing from the Docblock of script" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="33" severity="error" message="Argument $type is missing from the Docblock of script" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="33" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="34" severity="error" message="Argument $content is missing from the Docblock of tag" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="34" severity="error" message="Argument $tag is missing from the Docblock of tag" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="34" severity="error" message="No summary for method &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="lib\_Framework\tests\bootstrap.test.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="18" severity="error" message="No summary for class &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="302" severity="error" message="Argument $options is missing from the Docblock of test_viewport" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="302" severity="error" message="Argument $expected is missing from the Docblock of test_viewport" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="350" severity="error" message="Argument $content is missing from the Docblock of test_container" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="350" severity="error" message="Argument $type is missing from the Docblock of test_container" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="350" severity="error" message="Argument $expected is missing from the Docblock of test_container" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="377" severity="error" message="Argument $content is missing from the Docblock of test_row" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="377" severity="error" message="Argument $expected is missing from the Docblock of test_row" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="760" severity="error" message="Argument $amount is missing from the Docblock of test_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="760" severity="error" message="Argument $size is missing from the Docblock of test_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="760" severity="error" message="Argument $content is missing from the Docblock of test_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="760" severity="error" message="Argument $alt is missing from the Docblock of test_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="760" severity="error" message="Argument $expected is missing from the Docblock of test_column" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="821" severity="error" message="Argument $type is missing from the Docblock of test_panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="821" severity="error" message="Argument $caption is missing from the Docblock of test_panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="821" severity="error" message="Argument $body is missing from the Docblock of test_panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="821" severity="error" message="Argument $alt is missing from the Docblock of test_panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="821" severity="error" message="Argument $expected is missing from the Docblock of test_panel" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="19" severity="error" message="No summary for property $template" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="20" severity="error" message="No summary for property $fav_dir" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="lib\_Framework\validation.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="33" severity="error" message="Argument $file is missing from the Docblock of check_file" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="53" severity="error" message="Argument $email is missing from the Docblock of email_format" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
  <file name="inc\debug\session_debug.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="lib\_Framework\preload.class.php">
    <error line="0" severity="error" message="Only one @package tag is allowed" source="phpDocumentor.file.PPC:ERR-50001"/>
    <error line="62" severity="error" message="Argument $script is missing from the Docblock of set_script" source="phpDocumentor.file.PPC:ERR-50015"/>
  </file>
</checkstyle>
