<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    verbose="true"
    >

    <testsuites>
        <testsuite name="WAFFLE_frame">
            <directory suffix=".test.php">./_Framework/tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>10</integer>
                    </element>
                    <element key="reportLength">
                        <integer>10</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./_Framework</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../docs/phpUnit" lowUpperBound="25" highLowerBound="70"/>
        <log type="json"          target="../data/json/phpunit.log.json"/>
    </logging>

</phpunit>